@font-face {
    font-family: 'PP Neue Montreal';
    src: url('../../public/font/PPNeueMontreal-Medium.otf');
    src: local('PPNeueMontreal-Medium'), local('PPNeueMontreal-Medium'),
        url('../../public/font/PPNeueMontreal-Medium.otf') format('otf'),
        url("../../public/font/PPNeueMontreal-Medium.otf") format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../../public/font/Graphik-ThinItalic.eot');
    src: local('Graphik Thin Italic'), local('Graphik-ThinItalic'),
        url('../../public/font/Graphik-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../../public/font/Graphik-ThinItalic.woff2') format('woff2'),
        url('../../public/font/Graphik-ThinItalic.woff') format('woff'),
        url('../../public/font/Graphik-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
