 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'PP Neue Montreal', 'Arial', sans-serif;
     font-weight: 500;
 }

 body {
   overflow-x: hidden;
   background-color: #E5E5E5 !important;
   font-family: 'PP Neue Montreal';
 }

 .container {
  padding: 0 !important;
  margin: 0 !important;
  min-width: 100%;
 }

 .container-fluid {
     max-width: 100%;
     max-width: 1920px !important;
     color: #212932 !important;
     padding: 16px !important;

     a {
      color: #212932;
      text-decoration: none;

      &:hover {
        color: #306145;
      }
    }
    
     li {
      list-style-type: none;
    }
 }

 .container-fluid.dark {
  background-color: #306145 !important;
  color: #E5E5E5 !important;

  .mobile-menu-container {
    background-color: #306145 !important;
  }

  a {
    color: #E5E5E5;
    text-decoration: none;

    &:hover {
      color: #E5E5E5;
    }
  }

  td,
  tr,
  .section-header-title {
    color: #E5E5E5;
  }

  .change-color {
    background-color: #E5E5E5 !important;
  }

  .number-btn {
    border-color: #E5E5E5;
  }
}

.change-color {
  width: 20px;
  height: 20px;
  background-color: #306145;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

 .col {
  padding: 0 !important;
 }


