$default-color: #2C4CA4;
$txt-color: #2a3b64;
$color: #FF703E;

$border-radius: 11px;

$line-title: 35px;
$line-txt: 30px;

$letter-title: -0.54px;
$letter-txt: -0.32px;

$font-title: 26px;
$font-txt: 16px;

$buttonWidth: 30px;
$buttonHeight: 26px;
$buttonColor: #2C4CA4;
$lineThickness: 3px;
$transitionSpeed: .25s;
$transitionEasing: ease-in-out;

$size-sm: "(min-width: 576px)";
$size-md: "(min-width: 768px)";
$size-lg: "(min-width: 992px)";
$size-xl: "(min-width: 1200px)";
$size-xxl: "(min-width: 1500px)";


$light-color: #306145;
$border: 1px solid #B6B6B6;








