@font-face {
  font-family: 'PP Neue Montreal';
  src: url("../../public/font/PPNeueMontreal-Medium.otf");
  src: local("PPNeueMontreal-Medium"), local("PPNeueMontreal-Medium"), url("../../public/font/PPNeueMontreal-Medium.otf") format("otf"), url("../../public/font/PPNeueMontreal-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url("../../public/font/Graphik-ThinItalic.eot");
  src: local("Graphik Thin Italic"), local("Graphik-ThinItalic"), url("../../public/font/Graphik-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../../public/font/Graphik-ThinItalic.woff2") format("woff2"), url("../../public/font/Graphik-ThinItalic.woff") format("woff"), url("../../public/font/Graphik-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'PP Neue Montreal';
  font-weight: 500;
}

body {
  overflow-x: hidden;
}

.container {
  padding: 0 !important;
  margin: 0 !important;
  min-width: 100%;
}

.container-fluid {
  max-width: 100%;
  background-color: #E5E5E5 !important;
  color: #212932 !important;
  padding: 16px !important;
}

.container-fluid a {
  color: #212932;
  text-decoration: none;
}

.container-fluid a:hover {
  color: #306145;
}

.container-fluid li {
  list-style-type: none;
}

.container-fluid.dark {
  background-color: #306145 !important;
  color: #E5E5E5 !important;
}

.container-fluid.dark a {
  color: #E5E5E5;
  text-decoration: none;
}

.container-fluid.dark a:hover {
  color: #E5E5E5;
}

.container-fluid.dark .change-color {
  background-color: #E5E5E5 !important;
}

.col {
  padding: 0 !important;
}

.table {
  display: none;
}

@media (min-width: 768px) {
  .table {
    display: table;
  }
}

.table thead th {
  color: #306145;
}

.table th,
.table td {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.31px;
  border-bottom: 1px solid #B6B6B6;
  padding-top: 18px !important;
  padding-bottom: 18px !important;
}

@media (min-width: 992px) {
  .table th,
  .table td {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.48px;
    padding-top: 28px !important;
    padding-bottom: 28px !important;
  }
}

.table-mobile {
  display: table;
}

@media (min-width: 992px) {
  .table-mobile {
    display: none;
  }
}

.table-mobile span {
  display: block;
  color: #878787;
}

.header .mobile-menu-container {
  position: fixed;
  background-color: #E5E5E5;
  top: 0;
  left: -100vw;
  right: 0;
  bottom: 0;
  padding: 16px;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

.header .mobile-menu-container ul {
  padding: 0;
}

.header .mobile-menu-container ul li {
  font-size: 25px;
}

.header .mobile-menu-container.active {
  left: 0;
}

.header {
  margin: 0 !important;
  max-width: 100% !important;
}

.header .menu {
  height: 100px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px 16px 0 16px;
}

.header .menu p,
.header .menu h1,
.header .menu h2 {
  font-size: 16px;
  font-weight: 500 !important;
  line-height: 19.2px;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

.header .menu .name {
  text-align: start;
}

.header .menu .notary {
  text-align: center;
}

.header .menu .menu-mobile {
  text-align: end;
}

.header .menu .navbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 450px;
}

.header .menu .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header .menu .navbar ul li a {
  margin-right: 5px;
}

.header .menu .phone-number {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 267px;
}

.header .menu .phone-number .change-color {
  width: 20px;
  height: 20px;
  background-color: #306145;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.header .menu .phone-number .number-btn {
  padding: 14px 27px;
  border: 1px solid #000000;
  border-radius: 23px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: -0.03em;
  -webkit-transition: color 0.3s, border-color 0.3s;
  transition: color 0.3s, border-color 0.3s;
  line-height: 17px;
  margin-left: 10px;
}

.header .menu .phone-number .number-btn:hover {
  color: #306145;
  border-color: #306145;
}

.header .banner {
  max-width: 100vw;
}

.header .banner .banner-image {
  max-width: 100%;
}

.header .header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 55px !important;
  margin-bottom: 43px;
}

.header .header-info h3,
.header .header-info h4 {
  font-size: 16px;
  letter-spacing: -0.48px;
  line-height: 19px;
  text-align: start;
}

.office .banner {
  margin-top: 24px;
}

.office .header-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.office .header-info-container h3 {
  display: none;
}

@media (min-width: 768px) {
  .office .header-info-container h3 {
    display: block;
  }
}

.office .header-info-container .header-info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 457px;
}

.office .header-info-container .header-info-left {
  display: none;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (min-width: 768px) {
  .office .header-info-container .header-info-left {
    display: block;
  }
}

.office .header-info-container .header-info-right {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 768px) {
  .office .header-info-container .header-info-right {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.office .header-info-container .header-info-right .header-info-content {
  margin-top: 80px;
}

@media (max-width: 992px) {
  .navbar,
  .phone-number {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .header .menu {
    margin-bottom: 50px;
  }
  .header .menu .menu-mobile {
    display: none;
  }
  .header .menu .notary {
    text-align: start;
  }
  .header .menu .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .menu .col.name {
    max-width: 150px;
  }
  .header .menu .col.notary h1 {
    text-align: start;
  }
  .header .menu .phone-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .header-info-container .header-info {
    margin-bottom: 70px;
  }
  .header .header-info-container .header-info h3,
  .header .header-info-container .header-info h4 {
    font-size: 18px;
    line-height: 22px;
  }
  .office .banner {
    margin-top: 52px;
  }
}

.about {
  margin-top: 70px;
}

@media (min-width: 1200px) {
  .about {
    margin-top: 200px;
  }
}

.about .about-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about.grid {
  margin-top: 50px;
}

@media (min-width: 992px) {
  .about.grid {
    margin-top: 200px;
  }
}

@media (min-width: 992px) {
  .about.grid .about-prices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 992px) {
  .about.grid .about-prices .empty-container {
    width: 40%;
  }
}

.about.grid .about-prices-content {
  width: 100%;
}

@media (min-width: 1200px) {
  .about.grid .about-prices-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 60%;
  }
}

.about.grid .about-prices-content .about-prices-text {
  margin-bottom: 50px;
}

@media (min-width: 1200px) {
  .about.grid .about-prices-content .about-prices-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 458px;
  }
}

.about.grid .about-prices-content img {
  max-width: 100%;
}

@media (min-width: 1200px) {
  .about.grid .about-prices-content img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 458px;
  }
}

.office .grid {
  margin-top: 50px;
}

@media (min-width: 992px) {
  .office .grid {
    margin-top: 50px;
  }
}

.office .grid .text-medium {
  display: none;
}

@media (min-width: 992px) {
  .office .grid .text-medium {
    display: block;
  }
}

.office .grid .header-info-content {
  margin-top: 80px;
}

@media (min-width: 992px) {
  .office .grid .header-info-content {
    max-width: 457px;
  }
}

.map {
  margin-top: 70px;
  border-radius: 26px 26px 0px 0px;
}

@media (min-width: 992px) {
  .map {
    margin-top: 180px;
  }
}

.map img {
  max-width: 100%;
  display: block;
}

.services {
  margin-top: 100px !important;
}

@media (min-width: 992px) {
  .services {
    margin-top: 200px !important;
  }
}

@media (min-width: 1200px) {
  .services {
    margin-top: 369px;
  }
}

.services .services-container {
  margin-top: 40px;
}

@media (min-width: 992px) {
  .services .services-container {
    margin-top: 80px;
  }
}

.footer {
  margin-top: 112px !important;
}

@media (min-width: 992px) {
  .footer {
    margin-top: 200px !important;
  }
}

@media (min-width: 1200px) {
  .footer {
    margin-top: 300px !important;
  }
}

.footer .footer-media {
  font-size: 25px;
  letter-spacing: -0.48px;
  padding-bottom: 25px;
  border-bottom: 1px solid #B6B6B6;
}

@media (min-width: 768px) {
  .footer .footer-media {
    font-size: 48px;
  }
}

@media (min-width: 1200px) {
  .footer .footer-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 60px;
  }
}

.footer .footer-media a {
  display: block;
}

.footer .footer-media a:first-child {
  margin-bottom: 18px;
}

.footer .footer-welcome {
  margin-top: 36px;
}

.footer .table.table-mobile {
  display: table !important;
  max-width: 457px;
}

@media (min-width: 992px) {
  .footer .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .footer .footer-nav .section-header {
    font-size: 45px;
    line-height: 45px;
  }
}

#title {
  font-size: 26px;
  letter-spacing: -0.54px;
  line-height: 35px;
  color: #2a3b64;
  font-weight: 600;
}

#txt {
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 30px;
  font-weight: 500;
}

#logo {
  color: #2C4CA4;
  font-family: 'Sofia Pro Semi';
  letter-spacing: -0.54px;
  line-height: 49px;
  font-size: 24px;
}

.text-small {
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0.1px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 70px 30px;
}

@media (min-width: 768px) {
  .container {
    padding: 70px 50px;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 70px 100px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 170px 100px;
  }
}

@media (min-width: 1500px) {
  .container {
    padding: 170px 130px;
  }
}

.section-header-title {
  font-size: 14px;
  color: #306145;
  letter-spacing: -0.31px;
  line-height: 18px;
}

.text-content {
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 22px;
}

@media (min-width: 1200px) {
  .text-content {
    font-size: 30px;
    letter-spacing: -0.31px;
    line-height: 42px;
  }
}

.text-medium {
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 20px;
}

@media (min-width: 992px) {
  .text-medium {
    font-size: 18px;
    letter-spacing: -0.31px;
    line-height: 22px;
  }
}

.section-header {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.48px;
}

@media (min-width: 992px) {
  .section-header {
    font-size: 45px;
    line-height: 55px;
  }
}

@media (min-width: 1200px) {
  .section-header {
    font-size: 72px;
    line-height: 86px;
  }
}

.icon {
  cursor: pointer;
}

.bordered {
  padding-bottom: 30px;
  border-bottom: 1px solid #B6B6B6;
}

@media (min-width: 768px) {
  .bordered {
    padding-bottom: 40px;
  }
}

.spacing {
  margin: 30px 0;
}

.space {
  margin-top: 90px;
}

@media (min-width: 992px) {
  .space {
    margin-top: 200px;
  }
}

@-webkit-keyframes title-animation {
  0% {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes title-animation {
  0% {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes opacity-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes opacity-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes scale-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=main.css.map */