.about {
    margin-top: 70px;

    @media #{$size-xl} {
        margin-top: 200px;
      }
    .about-header-container {
        display: flex;
        justify-content: space-between;
    }
}

.about.grid {
    margin-top: 50px;
    @media #{$size-lg} {
        margin-top: 200px;
      }

      .about-prices {
        @media #{$size-lg} {
           display: flex;
        }
        .empty-container {
            @media #{$size-lg} {
                width: 40%;
             }
        }
    }

        .about-prices-content {
            width: 100%;
            
            @media #{$size-xl} {
                display: flex;
                justify-content: space-between;
                width: 60%;
             }
            .about-prices-text {
                margin-bottom: 50px;
                @media #{$size-xl} {
                    display: flex;
                    max-width: 458px;
                }
            }
            img {
                max-width: 100%;
                @media #{$size-xl} {
                    display: flex;
                    width: 458px;
                 }
            }
        }
    }

    .office .grid {
        margin-top: 50px;
        @media #{$size-lg} {
            margin-top: 50px;
        }

        .text-medium {
            display: none;
            @media #{$size-lg} {
                display: block;
            }
        }

        .header-info-content {
            margin-top: 80px;
            @media #{$size-lg} {
                max-width: 457px;
            }
        }
    }

    .map {
        margin-top: 70px;
        border-radius: 26px 26px 0px 0px;

        @media #{$size-lg} {
            margin-top: 180px;
         }
        img {
            max-width: 100%;
            display: block;
        }
    }

    .select {
        @media #{$size-md} {
            display: flex;
            justify-content: space-around;
         }
        
        .number-btn {
            width: 100%;
            display: block;
            text-align: center;
            margin-bottom: 20px;
            margin-left: 0;

            @media #{$size-md} {
                width: 250px;
             }
        }
    }

